{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Get in Touch</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="contact_form" method="post">
                          {% csrf_token %}
                          <input class="form-control" type="text" placeholder="Name" name="name">
                          <input class="form-control" type="email" placeholder="Email" name="email">
                          <input class="form-control" type="text" placeholder="SUbject" name="subject">
                          <input class="form-control" type="text" placeholder="Message" name="message">
                          <input type="submit" value="send">

                      </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>Kitob, Uzbekistan.</h3>
                                <p>Rosemead, CA 91770</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+998 77 025 7176</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>nsakura5472@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- ================ contact section end ================= -->

{% endblock content %}